@import "tailwindcss";

@layer utilities {
  .container {
    max-width: 1060px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .shadow-base {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
